

# basic EDA packages
pandas==1.5.3
scikit-learn==1.5.0

matplotlib==3.9.0
seaborn==0.13.2


# streamlit
streamlit==1.37.0
watchdog==4.0.0


#3 NLP packages
openpyxl==3.1.2
llama-cpp-python==0.3.7
python-dotenv==1.0.1


# RAG system
llama-index==0.10.37

llama-index-llms-openai==0.1.19
llama-index-embeddings-openai==0.1.9
llama-index-postprocessor-cohere-rerank==0.1.6
llama-index-vector-stores-qdrant==0.2.8
llama-index-readers-file==0.1.22
llama-index-embeddings-huggingface==0.5.2
llama-index-vector-stores-faiss==0.3.0


faiss-cpu==1.10.0